<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cs.travelapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddClaimActivity"
            android:label="@string/title_activity_add_claim" >
            <intent-filter>
                <action android:name="cs.ualberta.ca.AddClaimActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item" >
            <intent-filter>
                <action android:name="cs.ualberta.ca.AddItemActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemViewActivity"
            android:label="@string/title_activity_item_view" >
            <intent-filter>
                <action android:name="cs.ualberta.ca.ItemViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExpenseITemActivity"
            android:label="@string/title_activity_expense_item" >
        </activity>
        <activity
            android:name=".ExpenseItemActivity"
            android:label="@string/title_activity_expense_item" >
        </activity>
    </application>

</manifest>
